residence_counts.to_sql('residence_counts',engine)

engine = create_engine('postgresql://breast_cancer_dataset_user:UnSNEeECgY7ky2i5KAPC2WtQn9XrRpvc@dpg-cnbvjf779t8c73epbb3g-a.oregon-postgres.render.com/breast_cancer_dataset')

In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
from scipy.stats import chi2_contingency
import seaborn as sns

In [6]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd

In [4]:
    # Reading the file
    dataset_df = pd.read_csv("https://drive.google.com/u/0/uc?id=1IBWDyHq2TJHcvYXWJ8Kh38j_L_ZlJbkr&export=download")

    # Cleaning the dataset
    # Narrow down the dataset to view region and severity of Covid
    residence_df = dataset_df[['der_region_v2', 'urban_rural', 'der_site_type', 'severity_of_covid_19_v2']]

    # Clean the dataset to remove any NAN fields
    nonNaN_residence_df = residence_df.dropna()

    # Remove any non-US and other data
    US_residence_df = nonNaN_residence_df.loc[(nonNaN_residence_df['der_region_v2'] != 'Non-US') | (nonNaN_residence_df['der_region_v2'] != 'Other')]

    # Remove unknown residence 
    US_residence_df_clean = US_residence_df.loc[(US_residence_df['urban_rural'] != 'Unknown') | (US_residence_df['der_region_v2'] != 'Other')]

    #residence_counts = pd.DataFrame(US_residence_df_clean['urban_rural'].value_counts())
    residence_counts = pd.DataFrame(US_residence_df_clean['urban_rural'].value_counts())

In [7]:
engine = create_engine('postgresql://breast_cancer_dataset_user:UnSNEeECgY7ky2i5KAPC2WtQn9XrRpvc@dpg-cnbvjf779t8c73epbb3g-a.oregon-postgres.render.com/breast_cancer_dataset')
residence_counts = pd.read_sql('residence_counts',engine)
residence_counts

  urban_rural  count
0    Suburban    504
1       Urban    495
2       Rural     98

In [11]:
with engine.connect() as connection:
    residence_counts = pd.read_sql('residence_counts',connection)
    
residence_counts

  urban_rural  count
0    Suburban    504
1       Urban    495
2       Rural     98

In [1]:
! pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\hamza\anaconda3\lib\site-packages (2.9.9)